@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", "League Spartan", "Bebas Neue", "IBM Plex Sans", "Poppins", sans-serif;
  font-size: 62.5%;
  overflow-y: unset !important;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 55.5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track {
  background: inherit;
}

textarea {
  resize: vertical;
  font-family: "Noto Sans", "League Spartan", "Bebas Neue", "IBM Plex Sans", "Poppins", sans-serif;
}

.huongdan a {
  color: red;
  font-weight: bold;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (min-width: 1024px) {
  .game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .game-item {
    padding: 30px 20px;
    align-items: center;
  }
  .footer {
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .game-item {
    padding: 20px 15px;
    align-items: center;
  }
  .footer {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 768px) {
  .withdraw-container {
    display: flex;
    gap: 20px;
  }
  .withdraw-content {
    flex: 2;
  }
  .withdraw-container .huongdan {
    flex: 1;
  }
  .withdraw-container .huongdan ul {
    padding-left: 10px;
  }
  .withdraw-box-info {
    margin: 20px 5% !important;
  }

  .item-lich-su {
    padding: 20px;
  }
  .item-lich-su p {
    font-size: 18px;
  }

  .bank-item-text {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 768px) {
  .game-grid {
    grid-template-columns: 1fr;
  }
}

.box-quay-xuc-xac {
  height: unset !important;
  width: 100%;
  aspect-ratio: 4/1;
}

.hide-scroll {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
